* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.left {
    position: absolute;
    height: 100%;
    width: 10%;
    left: 0;
    background-color: rgb(232,232,232);
}

.head {
    position: relative;
    height: 150px;
}

.head > img {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    width: 80px;
    height: 80px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.tabs {
    position: relative;
    width: 100%;
    height: 64%;
}

.tabs > ul {
    position: absolute;
    width: 100%;
    height: 100%;
    list-style: none;
}

.tab {
    position: relative;
    width: 100%;
    height: 19%;
    cursor: pointer;
}

.colorSpan {
    position: absolute;
    width: 8%;
    height: 100%;
}

.key {
    position: absolute;
    width: 92%;
    height: 100%;
    left: 8%;
}

.key > img {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 25%;
    margin: auto;
    border: none;
}

.key > label {
    font-size: 1.3vw;
    position: absolute;
    left: 20%;
    top: 75%;
    bottom: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    color: rgb(170,170,170);
    word-break: break-all;
    white-space: nowrap;
}

.right {
    position: absolute;
    padding: 2%;
    height: 96%;
    width: 86%;
    right: 0;
    background-color: rgb(247,247,247);
}

.outer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.alert {
    position: absolute;
    width: 40%;
    height: 40%;
    min-width: 200px;
    min-height: 200px;
    background-color: rgb(238,238,238);
    left: 30%;
    top: 25%;
    border-radius: 10px;
}

.alert-head {
    position: absolute;
    width: 100%;
    height: 20%;
}

.alert-head > img {
    position: relative;
    width: 50px;
    height: 50px;
    bottom: 18%;
    left: 44%;
}

.alert-head > button {
    position: absolute;
    width: 10%;
    height: 50%;
    border: 0;
    right: 2%;
    top: 10%;
    font-size: 1.8vw;
    background-color: rgb(238,238,238);
    color: rgb(106,106,106);
    outline: none;
    cursor: pointer;
    display: none;
}

.alert-container {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 20%;
}

.id {
    position: absolute;
    width: 76%;
    height: 18%;
    top: 10%;
    left: 10%;
    background-color: white;
    font-size: 2.0vw;
    outline: none;
    border: 1px solid rgb(219,219,219);
    color: rgb(186,186,186);
    border-radius: 8px;
    padding: 0 2% 0 2%;
}

.name {
    position: absolute;
    width: 76%;
    height: 18%;
    top: 38%;
    left: 10%;
    background-color: white;
    font-size: 2.0vw;
    outline: none;
    border: 1px solid rgb(219,219,219);
    color: rgb(186,186,186);
    border-radius: 8px;
    padding: 0 2% 0 2%;
}

.send {
    position: absolute;
    width: 80%;
    height: 18%;
    top: 68%;
    left: 10%;
    font-size: 2.0vw;
    outline: none;
    border: 1px solid rgb(0,187,254);
    color: white;
    border-radius: 8px;
    background-color: rgb(0,187,254);
    cursor: pointer;
}