* {
    margin: 0;
    padding: 0;
}

.resourceList {
    border: 1px solid rgb(228,228,228);
    position: relative;
    width: 96%;
    height: 92%;
    background-color: white;
    padding: 2%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.resourceItem {
    position: relative;
    padding: 1%;
    width: 98%;
    height: 6%;
    list-style: none;
    margin-bottom: 1%;
    border-bottom: 1px solid rgb(228,228,228);
}

.resourceTitle {
    position: absolute;
    left: 1%;
    width: 49%;
    height: auto;
    font-size: 2.0vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
    overflow:hidden;
}

.downloadCell {
    position: absolute;
    width: 10%;
    height: auto;
    left: 89%;
    text-align: center;
    color: rgb(102,207,255);
    cursor: pointer;
    font-size: 2.0vw;
}

.deleteCell {
    position: absolute;
    width: 10%;
    height: auto;
    left: 79%;
    text-align: center;
    color: rgb(235,79,56);
    cursor: pointer;
    font-size: 2.0vw;
}

.uploading {
    position: absolute;
    width: 0;
    height: 10%;
    background-color: deepskyblue;
    bottom: 0;
    left: 0;
    display: none;
}